@import 'vendor/skel';

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';


.spotlight {
	.image {
		width: 25%;
		display: inline-block;
		vertical-align: middle;
	}

	.content {
		width: 65%;
		display: inline-block;
		vertical-align: middle;
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	&:nth-child(2n) {
		.image {
			margin: 0 (_size(element-margin) * 1.5) 0 0;
		}

		.content {
			text-align: left;
		}
	}
}

// Header
#header {
	height: auto;
	text-align: center;

	.content {
		display: inline-block;
		vertical-align: middle;
	}

	.image {
		display: inline-block;
		vertical-align: middle;
	}
}
