// Vendor
@import 'vendor/skel';
@import 'vendor/asciinema-player';
@import 'vendor/jquery-ui';
@import 'vendor/jquery-ui.structure';
@import 'vendor/terminal';

// Own libraries
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

@include skel-breakpoints((
	xlarge:		'(max-width: 1680px)',
	large:		'(max-width: 1280px)',
	medium:		'(max-width: 980px)',
	small:		'(max-width: 736px)',
	xsmall:		'(max-width: 480px)',
	xxsmall:	'(max-width: 360px)'
));

@include skel-layout((
	reset: 'full',
	boxModel: 'border',
	grid: (gutters: 1.5em)
));

@mixin color($p: null) {
	@include color-button($p);
	@include color-form($p);
	@include color-icon($p);
	@include color-image($p);
	@include color-list($p);
	@include color-table($p);
	@include color-typography($p);
}

// Base
@import 'base/page';
@import 'base/typography';

// Components
@import 'components/box';
@import 'components/button';
@import 'components/form';
@import 'components/icon';
@import 'components/image';
@import 'components/list';
@import 'components/section';
@import 'components/spotlight';
@import 'components/table';
@import 'components/wrapper';

// Layouts
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
